<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../static/js/Carousel.js"></script>
  <link rel="stylesheet" href="../../static/css/Carousel.css">
  <title>CarouselTest</title>
  <style></style>
</head>

<body>
<div id="warp">
  <div class="img-list">
    <div class="image-body" id="b1">
      <a href="#"></a>
      <img class="img-top" src="../../static/img/lingzhi.jpg" alt="">
      <img class="img-bottom" src="../../static/img/lingzhi.jpg" alt="">
    </div>
    <div class="image-body" id="b2">
      <a href="#"></a>
      <img class="img-top" src="../../static/img/Karlan.jpg" alt="">
      <img class="img-bottom" src="../../static/img/Karlan.jpg" alt="">
    </div>
    <div class="image-body" id="b3">
      <a href="#"></a>
      <img class="img-top" src="../../static/img/NewYear.jpg" alt="">
      <img class="img-bottom" src="../../static/img/NewYear.jpg" alt="">
    </div>
  </div>
  <div class="arrow">
    <a class="left" href="#"></a>
    <a class="right" href="#"></a>
  </div>

  <ul class="circle-list">
    <li class="circle active" data-n="0"></li>
    <li class="circle " data-n="1"></li>
    <li class="circle " data-n="2"></li>
  </ul>
</div>

</body>

</html>
