<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event</title>
    <script src="../../static/js/event.js"></script>
    <link rel="stylesheet" href="../../static/css/template.css">
    <link rel="stylesheet" href="../../static/css/event.css">
    <style>
    </style>
</head>

<body>
    <div class="container">
        <h1 id="firstHeading" class="firstHeading" lang="zh-Hans-CN">
            <div class="fnameheader" style="text-align: right;">BREAK THE ICE</div>SideStory「风雪过境」
        </h1>
        <div style="text-align: center; white-space: pre;">
            <a href="#" title="风雪过境/活动公告" one-link-mark="yes"><img alt="活动预告 风雪过境 01.jpg"
                    src="../../static/img/Karlan.jpg" decoding="async" width="780" height="250"></a>
        </div>
        <div class="nomobile">
            <div style="display:table;margin: auto; background-color:transparent;max-width:75%;">
                <div>
                    <div
                        style="display: table-cell;vertical-align: top; color:#373737;font-size:36px;font-family:'Times New Roman',serif;font-weight:bold;text-align:left;padding:10px 10px;line-height:100%">
                        “</div>
                    <div style="display: table-cell;text-align: left; padding: 1em; vertical-align: middle;">
                        <div class="poem">
                            <p>谢拉格，人称雪境。<br>
                                这个以喀兰贸易为对外窗口的雪山小国近年发展势头似乎颇为迅猛，<br>
                                然而其背后却是雪境三大家族愈发尖锐的矛盾。<br>
                                种种迹象表明，在这片白雪皑皑的土地上，有什么即将发生。<br>
                                而就在这个时候，博士接受了喀兰贸易之主，恩希欧迪斯·希瓦艾什的邀请，前往谢拉格。<br>
                                等待博士的，究竟是阴谋，还是……
                            </p>
                        </div>
                    </div>
                    <div
                        style="display: table-cell; vertical-align: bottom; color:#373737;font-size:36px;font-family:'Times New Roman',serif;font-weight:bold;text-align:left;padding:10px 10px;line-height:100%">
                        ”</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>