<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wiki-table</title>
    <script src="../../static/js/wiki-table.js"></script>
    <link rel="stylesheet" href="../../static/css/wiki-table.css">
    <style>
    </style>
</head>

<body>

    <div class="container">
        <h1 id="firstHeading" class="firstHeading" lang="zh-Hans-CN">干员一览</h1>
        <div id="filter-wrapper">
            <table class="wikitable" id="result-table" style="display: table;">
                <tbody>
                    <tr class="result-header">
                        <th style="width: 100px">头像</th>
                        <th style="width: 50px">代号</th>
                        <th style="width: 95px">势力<br>出身地<br>种族</th>
                        <th style="width: 40px">初始<br>生命</th>
                        <th style="width: 40px">初始<br>攻击</th>
                        <th style="width: 40px">初始<br>防御</th>
                        <th style="width: 60px">初始<br>法术抗性</th>
                        <th style="width: 75px">初始<br>再部署时间</th>
                        <th style="width: 60px">初始<br>部署费用</th>
                        <th style="width: 60px">初始<br>阻挡数</th>
                        <th style="width: 60px">初始<br>攻击间隔</th>
                        <th style="width: 75px">标签</th>
                        <th>特性</th>
                    </tr>
                    <tr class="result-row">
                        <td>
                            <div style="position:relative"><a href="/w/灵知"><img class=" ls-is-cached lazyloaded"
                                        style="width:100px"
                                        src="//prts.wiki/images/9/9f/%E5%A4%B4%E5%83%8F_%E7%81%B5%E7%9F%A5.png"
                                        data-src="//prts.wiki/images/9/9f/%E5%A4%B4%E5%83%8F_%E7%81%B5%E7%9F%A5.png">
                                    <div style="position:absolute;bottom:0px;right: 0px;"><img
                                            src="/images/4/46/%E7%A8%80%E6%9C%89%E5%BA%A6_%E9%BB%84_5.png"
                                            height="18px"></div>
                                    <div style="position:absolute;top:0px;"><img
                                            src="/images/c/c7/%E5%9B%BE%E6%A0%87_%E8%81%8C%E4%B8%9A_%E8%BE%85%E5%8A%A9.png"
                                            width="25px"></div>
                                </a></div>
                        </td>
                        <td>
                            <div><a href="/w/灵知">
                                    <div>灵知</div>
                                </a>
                                <div>Gnosis</div>
                                <div></div>
                                <div>JC02</div>
                            </div>
                        </td>
                        <td>
                            <div>喀兰贸易<br>谢拉格<br>黎博利</div>
                        </td>
                        <td>
                            <div>798</div>
                        </td>
                        <td>
                            <div>205</div>
                        </td>
                        <td>
                            <div>61</div>
                        </td>
                        <td>
                            <div>15</div>
                        </td>
                        <td>
                            <div>70s</div>
                        </td>
                        <td>
                            <div>11</div>
                        </td>
                        <td>
                            <div>1</div>
                        </td>
                        <td>
                            <div>1.6s</div>
                        </td>
                        <td>
                            <div>远程位<br>男性干员<br>削弱</div>
                        </td>
                        <td>
                            <div>攻击造成<span style="color:#00B0FF;">法术伤害</span></div>
                        </td>
                    </tr>
                    <tr class="result-row">
                        <td>
                            <div style="position:relative"><a href="/w/极光"><img class=" ls-is-cached lazyloaded"
                                        style="width:100px"
                                        src="//prts.wiki/images/4/43/%E5%A4%B4%E5%83%8F_%E6%9E%81%E5%85%89.png"
                                        data-src="//prts.wiki/images/4/43/%E5%A4%B4%E5%83%8F_%E6%9E%81%E5%85%89.png">
                                    <div style="position:absolute;bottom:0px;right: 0px;"><img
                                            src="/images/8/81/%E7%A8%80%E6%9C%89%E5%BA%A6_%E9%BB%84_4.png"
                                            height="18px"></div>
                                    <div style="position:absolute;top:0px;"><img
                                            src="/images/3/3c/%E5%9B%BE%E6%A0%87_%E8%81%8C%E4%B8%9A_%E9%87%8D%E8%A3%85.png"
                                            width="25px"></div>
                                </a></div>
                        </td>
                        <td>
                            <div><a href="/w/极光">
                                    <div>极光</div>
                                </a>
                                <div>Aurora</div>
                                <div></div>
                                <div>JC09</div>
                            </div>
                        </td>
                        <td>
                            <div>喀兰贸易<br>谢拉格<br>乌萨斯</div>
                        </td>
                        <td>
                            <div>1,696</div>
                        </td>
                        <td>
                            <div>413</div>
                        </td>
                        <td>
                            <div>257</div>
                        </td>
                        <td>
                            <div>0</div>
                        </td>
                        <td>
                            <div>70s</div>
                        </td>
                        <td>
                            <div>28</div>
                        </td>
                        <td>
                            <div>1</div>
                        </td>
                        <td>
                            <div>1.6s</div>
                        </td>
                        <td>
                            <div>近战位<br>女性干员<br>输出<br>防护</div>
                        </td>
                        <td>
                            <div>只有阻挡敌人时才能够回复技力</div>
                        </td>
                    </tr>
                    <tr class="result-row">
                        <td>
                            <div style="position:relative"><a href="/w/耶拉"><img class=" ls-is-cached lazyloaded"
                                        style="width:100px"
                                        src="//prts.wiki/images/7/71/%E5%A4%B4%E5%83%8F_%E8%80%B6%E6%8B%89.png"
                                        data-src="//prts.wiki/images/7/71/%E5%A4%B4%E5%83%8F_%E8%80%B6%E6%8B%89.png">
                                    <div style="position:absolute;bottom:0px;right: 0px;"><img
                                            src="/images/8/81/%E7%A8%80%E6%9C%89%E5%BA%A6_%E9%BB%84_4.png"
                                            height="18px"></div>
                                    <div style="position:absolute;top:0px;"><img
                                            src="/images/2/23/%E5%9B%BE%E6%A0%87_%E8%81%8C%E4%B8%9A_%E6%9C%AF%E5%B8%88.png"
                                            width="25px"></div>
                                </a></div>
                        </td>
                        <td>
                            <div><a href="/w/耶拉">
                                    <div>耶拉</div>
                                </a>
                                <div>Kjera</div>
                                <div></div>
                                <div>JC00</div>
                            </div>
                        </td>
                        <td>
                            <div>喀兰贸易<br>谢拉格<br>未公开</div>
                        </td>
                        <td>
                            <div>604</div>
                        </td>
                        <td>
                            <div>135</div>
                        </td>
                        <td>
                            <div>48</div>
                        </td>
                        <td>
                            <div>10</div>
                        </td>
                        <td>
                            <div>80s</div>
                        </td>
                        <td>
                            <div>21</div>
                        </td>
                        <td>
                            <div>1</div>
                        </td>
                        <td>
                            <div>1.3s</div>
                        </td>
                        <td>
                            <div>远程位<br>女性干员<br>输出<br>控场</div>
                        </td>
                        <td>
                            <div>操作<span style="color:#00B0FF;">浮游单元</span>造成<span
                                    style="color:#00B0FF;">法术伤害</span><br>单元攻击同一敌人伤害提升（最高造成干员110%攻击力的伤害）</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>