@font-face {
  font-family: slick;
  src: url("../font/slick.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  margin-top: 20px;
  background: url("../img/Garancssbkg3.png") no-repeat #f8f8f8;
  background-size: 100%;
}

div {
  display: block;
}

ul {
  display: block;
  padding: 0;
  margin: 0.3em 0 0 1.6em;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  list-style-image: url("../img/bullet-icon.svg");
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

body #navigation #head {
  background: url("../img/PRTSheadleft.png") left top no-repeat,
    url("../img/Garanheadright.png") right top repeat-x;
}

body #navigation #head:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
}

body #head {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#content {
  margin-left: 11em;
}

#panel {
  z-index: 1;
  position: absolute;
  font-size: inherit;
  top: 0;
  width: 10em;
  left: 0;
}

#panel {
  padding-left: 0;
  width: 10.5em;
}

body #navigation #panel {
  top: 48px;
}

#p-logo {
  width: 10em;
  height: 160px;
  margin-bottom: 1em;
}

.wiki-logo {
  background-image: url("../img/ak.png");
}

#p-logo a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 10em;
  height: 160px;
  text-decoration: none;
}

#MenuSidebar {
  margin-bottom: 5rem;
  position: absolute;
  top: 200px;
  width: 100%;
}

#MenuSidebar > p {
  padding: 8px 10px;
  margin: 0px;
  cursor: default;
  color: #f4c430;
  font-weight: bold;
  margin-top: 8px;
  background-color: rgba(30, 30, 30, 0.6);
}

#MenuSidebar > ul {
  list-style: none none;
  width: 100%;
  margin: 0px;
  background-color: rgba(20, 20, 20, 0.6);
  border-top: 2px solid #f4c430;
  border-bottom-right-radius: 5px;
}

#MenuSidebar ul {
  position: relative;
  font-size: 0.9rem;
}

#MenuSidebar li {
  position: relative;
  margin: 0px;
  box-shadow: inset 0 1px rgb(244 196 48 / 50%);
  transition: 0.15s all ease-in;
  z-index: 1;
}

#MenuSidebar b {
  color: #eaeaea;
  cursor: default;
}

div#MenuSidebar a {
  transition: all 0.15s ease-in;
  color: #eaeaea;
}

#MenuSidebar li b,
#MenuSidebar li a {
  padding: 5px 0px;
  padding-left: 18px;
  display: block;
  width: auto;
  height: 100%;
  font-weight: normal;
}

#MenuSidebar li.SideBar-List > a::after,
#MenuSidebar li.SideBar-List > b::after {
  content: url("../img/rightArrow.svg");
  -webkit-font-smoothing: antialiased;
  display: block;
  top: 6px;
  right: 5px;
  position: absolute;
}

#MenuSidebar > ul ul {
  list-style: none none;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
  margin: 0px;
  z-index: 1;
  background-color: #333;
  box-shadow: -1px 2px 10px 0px rgb(0 0 0 / 40%),
    -1px -2px 10px 0px rgb(0 0 0 / 40%);
}

#MenuSidebar > ul > li ul {
  display: block;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  z-index: 1;
  background-color: #373737;
  width: unset;
  white-space: nowrap;
}

#MenuSidebar ul li:first-chile {
  box-shadow: none;
}

#MenuSidebar > ul > li ul a,
#MenuSidebar > ul > li ul b {
  padding-right: 18px;
}

#MenuSidebar > ul li:hover > ul {
  display: block;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

#MenuSidebar a:hover,
#MenuSidebar b:hover {
  color: black;
  background-color: #f4c430;
  text-decoration: none;
}

#MenuSidebar a.selflink:hover {
  background-color: inherit;
  color: #f4c430;
}

.container {
  width: 100%;
  /*border: 1px solid red;*/
  position: absolute;
  background: url("../img/Bg-mc-icon-demo.png") rgba(248, 248, 248, 0.8);
  background-clip: border-box;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

#warp {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
  width: 936px;
  height: 300px;
}

#warp .img-list {
  display: flex;
  position: relative;
  left: 0;
  width: 3744px;
  height: 100%;
  transition: 0.5s ease;
}

#warp .img-list .image-body {
  /* display: block; */
  position: relative;
  width: 100%;
  height: 100%;
}

#warp .img-list .image-body img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#warp .img-list .image-body .img-top {
  height: 100%;
  width: auto;
  z-index: 1;
  filter: drop-shadow(0 0 10px black);
}

#warp .img-list .image-body .img-bottom {
  height: auto;
  width: 936px;
  filter: blur(10px);
}

#warp .arrow a {
  font-family: slick;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: #eaeaea;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
  opacity: 0;
  text-shadow: 0 5px 10px black;
}

#warp .arrow a.left {
  left: 5px;
}

#warp .arrow a.left::before {
  content: "←";
}

#warp .arrow a.right {
  right: 5px;
}

#warp .arrow a.right::before {
  content: "→";
}

#warp ul {
  list-style: none;
}

.circle-list {
  position: absolute;
  right: 30px;
  bottom: 10px;
  display: block;
  list-style: none;
  text-align: center;
  z-index: 8;
}

.circle-list li {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 5px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: #eaeaea;
}

.circle-list li.active {
  background-color: #39c5bb;
}

#warp:hover .arrow a {
  transition: 0.3s;
  opacity: 1;
}

#warp:hover .arrow .left:hover {
  transition: 0.3s;
  color: white;
  filter: drop-shadow(0px 0px 6px white);
}

#warp:hover .arrow .right:hover {
  transition: 0.3s;
  color: white;
  filter: drop-shadow(0px 0px 6px white);
}

#warp:hover .circle {
  transition: 0.3s;
  height: 10px;
}

#warp:hover .circle.active:hover {
  transition: 0.3s;
  color: #39c5bb;
  filter: drop-shadow(0px 0px 6px #39c5bb);
}

#warp:hover .circle:hover {
  transition: 0.3s;
  color: white;
  filter: drop-shadow(0px 0px 6px white);
}

#mb-container {
  position: absolute;
  top: 350px;
  width: 100%;
  overflow: hidden;
}

#mb-father {
  position: relative;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 920px;
  /* height: auto; */
}

#mb-father:after {
  content: "";
  display: block;
  clear: both;
}

.mbuttom {
  display: inline-block;
  /* display: block;
  float: left; */
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2px;
  background-color: #343434;
  transition: 0.5s;
}

.mbuttom img {
  /* border: 1px solid red; */
  position: absolute;
  opacity: 80%;
  z-index: 1;
  background-color: #343434;
  float: left;
  /* filter: blur(10px); */
}

.mbuttom:hover img {
  transition: 0.5s;
  background-color: rgb(102, 177, 250);
  filter: drop-shadow(0, 0, 0, 10px);
  -webkit-filter: drop-shadow(0, 0, 0, 10px);
}

.can,
.can1 {
  position: absolute;
}

.can {
  left: 27px;
  top: 16px;
  float: left;
  z-index: 2;
  filter: drop-shadow(0px 18px 6px rgba(255, 255, 255, 0.5));
  /* opacity: 50%; */
}

.can1 {
  float: left;
  left: 25px;
  top: 30px;
  filter: blur(5px);
  /* background-color: #39c5bb; */
  /* z-index: 1; */
}

.mb-label {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 15px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-family: "微软雅黑", sans-serif;
  letter-spacing: 2px;
  transition: 0.5s;
}

.mb-label.zh {
  opacity: 1;
}

.mb-label.en {
  opacity: 0;
}

.mbuttom:hover .mb-label.zh {
  opacity: 0;
}

.mbuttom:hover .mb-label.en {
  opacity: 1;
}

.mb-url {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  display: block;
  /* text-decoration-color: initial; */
  color: rgb(102, 177, 250);
  /* background-color: initial; */
}
