<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>干员一览</title>
    <script src=""></script>
    <link rel="stylesheet" href="../static/css/glance.css">
    <style>
    </style>
</head>

<body>


</body>

<div id="navigation">
    <div id="head">
        <nav id="p-personal" class="menu">
            <div class="menu-content">
                <ul class="menu-content-list">
                </ul>
            </div>
        </nav>
    </div>

    <div id="panel">
        <div id="p-logo" role="banner">
            <a title="访问首页" class="wiki-logo" href="home.html"></a>
        </div>

        <div id="MenuSidebar">
            <ul>
                <li class="empty-elt"></li>
                <li class="SideBar-List"><b>当前活动</b>
                    <ul>
                        <li><a href="#" title="风雪过境" one-link-mark="yes">SideStory「风雪过境」</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>新增干员
                        <span style="padding-left:10px;">
                            <span
                                style="font-size:10px;color: #ffffff;background: red;padding-right: 2px;padding-left: 2px;border-radius: 5px;">NEW</span>
                        </span></b>
                    <ul>
                        <li><a href="#" title="灵知" one-link-mark="yes">灵知</a></li>
                        <li><a href="#" title="极光" one-link-mark="yes">极光</a></li>
                        <li><a href="#" title="耶拉" one-link-mark="yes">耶拉</a></li>
                    </ul>
                </li>
                <li><a class="selflink" href="#" title="干员一览" one-link-mark="yes">干员一览</a></li>
            </ul>
            <p>菜单
            </p>
            <ul>
                <li class="SideBar-List"><b>通用</b>
                    <ul>
                        <li><a href="#" title="干员一览" one-link-mark="yes">干员一览</a></li>
                        <li><a href="#" title="敌人一览" one-link-mark="yes">敌人一览</a></li>
                        <li><a href="#" title="道具一览" one-link-mark="yes">道具一览</a></li>
                        <li><a href="#" title="后勤技能一览" one-link-mark="yes">后勤技能</a></li>
                        <li><a href="#" title="关卡一览" one-link-mark="yes">关卡一览</a></li>
                        <li><a href="#" title="剧情一览" one-link-mark="yes">剧情记录</a></li>
                        <li><a href="#" title="家具一览" one-link-mark="yes">家具一览</a></li>
                        <li><a href="#" title="时装回廊" one-link-mark="yes">时装回廊</a></li>
                        <li><a href="#" title="采购中心" one-link-mark="yes">采购中心</a></li>
                        <li><a href="#" title="卡池一览" one-link-mark="yes">卡池一览</a></li>
                        <li><a href="#" title="活动一览" one-link-mark="yes">活动一览</a></li>
                        <li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="#"
                                one-link-mark="yes">公招计算</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>档案</b>
                    <ul>
                        <li><a href="#" title="画师一览" one-link-mark="yes">画师一览</a></li>
                        <li><a href="#" title="配音一览" one-link-mark="yes">配音一览</a></li>
                        <li><a href="#" title="分支一览" one-link-mark="yes">分支一览</a></li>
                        <li><a href="#" title="干员密录一览" one-link-mark="yes">干员密录</a></li>
                        <li><a href="#" title="干员模组一览" one-link-mark="yes">干员模组</a></li>
                        <li><a href="#" title="干员编号一览" one-link-mark="yes">干员编号</a></li>
                        <li><a href="#" title="角色真名" one-link-mark="yes">角色真名</a></li>
                        <li><a href="#" title="干员预告" one-link-mark="yes">干员预告</a></li>
                        <li><a href="#" title="干员专精" one-link-mark="yes">干员专精</a></li>
                        <li><a href="#" title="干员剧情一览" one-link-mark="yes">干员剧情一览</a></li>
                        <li><a href="#" title="档案信息一览" one-link-mark="yes">档案信息一览</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>玩法</b>
                    <ul>
                        <li><a href="#" title="危机合约" one-link-mark="yes">危机合约</a></li>
                        <li><a href="#" title="集成战略" one-link-mark="yes">集成战略</a></li>
                        <li><a href="#" title="多维合作" one-link-mark="yes">多维合作</a></li>
                        <li><a href="#" title="荷谟伊智境" one-link-mark="yes">联锁竞赛</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>系统</b>
                    <ul>
                        <li><a href="#" title="罗德岛基建" one-link-mark="yes">基建</a></li>
                        <li><a href="#" title="任务列表" one-link-mark="yes">任务列表</a></li>
                        <li><a href="#" title="邮件记录" one-link-mark="yes">邮件记录</a></li>
                        <li><a href="#" title="首页场景一览" one-link-mark="yes">首页场景</a></li>
                        <li><a href="#" title="光荣之路" one-link-mark="yes">光荣之路</a></li>
                        <li><a href="#" title="情报处理室" one-link-mark="yes">情报处理室</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>扩展</b>
                    <ul>
                        <li><a href="#" title="游戏数据基础" one-link-mark="yes">基础数据</a></li>
                        <li><a href="#" title="作战机制" one-link-mark="yes">作战机制</a></li>
                        <li><a href="#" title="新人入门" one-link-mark="yes">新人入门</a></li>
                        <li><a href="#" title="贴士一览" one-link-mark="yes">贴士一览</a></li>
                        <li><a href="#" class="redirect" title="词汇一览" one-link-mark="yes">词汇一览</a></li>
                        <li><a href="#" title="制作组通讯" one-link-mark="yes">制作组通讯</a></li>
                        <li><a href="#" title="剧情角色一览" one-link-mark="yes">剧情角色一览</a></li>
                        <li><a href="#" title="游戏内容前瞻" one-link-mark="yes">游戏内容前瞻</a></li>
                        <li><a href="#" title="剧情资源概览" one-link-mark="yes">剧情资源概览</a></li>
                        <li><a href="#" title="分类:汇总" one-link-mark="yes">各类信息汇总</a></li>
                    </ul>
                </li>
                <li class="SideBar-List"><b>趣味</b>
                    <ul>
                        <li><a href="#" title="泰拉大典:Index" one-link-mark="yes">泰拉大典</a></li>
                        <li><a href="#" title="音乐鉴赏" one-link-mark="yes">音乐鉴赏</a></li>
                        <li><a href="#" title="分类:寻访模拟" one-link-mark="yes">寻访模拟</a></li>
                        <li><a href="#" title="衍生作品" one-link-mark="yes">衍生作品</a></li>
                        <li><a href="#" title="光荣之路模拟器" one-link-mark="yes">光荣之路模拟器</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <!-- 不让侧边栏在编辑的时候乱跳（ -->
                <div style="width:80%;margin:0 auto;margin-top:20px">
                    <script>SideBarHold = function () {
                        }</script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="filter-wrapper">
        <h1 id="firstHeading" class="firstHeading" lang="zh-Hans-CN">干员一览</h1>
        <table class="wikitable" id="result-table" style="display: table;">
            <tbody>
                <tr class="result-header">
                    <th style="width: 100px">头像</th>
                    <th style="width: 50px">代号</th>
                    <th style="width: 95px">势力<br>出身地<br>种族</th>
                    <th style="width: 40px">初始<br>生命</th>
                    <th style="width: 40px">初始<br>攻击</th>
                    <th style="width: 40px">初始<br>防御</th>
                    <th style="width: 60px">初始<br>法术抗性</th>
                    <th style="width: 75px">初始<br>再部署时间</th>
                    <th style="width: 60px">初始<br>部署费用</th>
                    <th style="width: 60px">初始<br>阻挡数</th>
                    <th style="width: 60px">初始<br>攻击间隔</th>
                    <th style="width: 75px">标签</th>
                    <th>特性</th>
                </tr>
                <tr class="result-row">
                    <td>
                        <div style="position:relative"><a href="#"><img class=" ls-is-cached lazyloaded"
                                    style="width:100px" src="../static/img/Avatar_Gnosis.png">
                                <div style="position:absolute;bottom:0px;right: 0px;"><img
                                        src="../static/img/rarity_yellow_6.png" height="18px"></div>
                                <div style="position:absolute;top:0px;"><img src="../static/img/icon_job_sub.png"
                                        width="25px"></div>
                            </a></div>
                    </td>
                    <td>
                        <div><a href="#">
                                <div>灵知</div>
                            </a>
                            <div>Gnosis</div>
                            <div></div>
                            <div>JC02</div>
                        </div>
                    </td>
                    <td>
                        <div>喀兰贸易<br>谢拉格<br>黎博利</div>
                    </td>
                    <td>
                        <div>798</div>
                    </td>
                    <td>
                        <div>205</div>
                    </td>
                    <td>
                        <div>61</div>
                    </td>
                    <td>
                        <div>15</div>
                    </td>
                    <td>
                        <div>70s</div>
                    </td>
                    <td>
                        <div>11</div>
                    </td>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>1.6s</div>
                    </td>
                    <td>
                        <div>远程位<br>男性干员<br>削弱</div>
                    </td>
                    <td>
                        <div>攻击造成<span style="color:#00B0FF;">法术伤害</span></div>
                    </td>
                </tr>
                <tr class="result-row">
                    <td>
                        <div style="position:relative"><a href="#"><img class=" ls-is-cached lazyloaded"
                                    style="width:100px" src="../static/img/Avatar_Aurora.png">
                                <div style="position:absolute;bottom:0px;right: 0px;"><img
                                        src="../static/img/rarity_yellow_5.png" height="18px"></div>
                                <div style="position:absolute;top:0px;"><img src="../static/img/icon_job_def.png"
                                        width="25px"></div>
                            </a></div>
                    </td>
                    <td>
                        <div><a href="#">
                                <div>极光</div>
                            </a>
                            <div>Aurora</div>
                            <div></div>
                            <div>JC09</div>
                        </div>
                    </td>
                    <td>
                        <div>喀兰贸易<br>谢拉格<br>乌萨斯</div>
                    </td>
                    <td>
                        <div>1,696</div>
                    </td>
                    <td>
                        <div>413</div>
                    </td>
                    <td>
                        <div>257</div>
                    </td>
                    <td>
                        <div>0</div>
                    </td>
                    <td>
                        <div>70s</div>
                    </td>
                    <td>
                        <div>28</div>
                    </td>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>1.6s</div>
                    </td>
                    <td>
                        <div>近战位<br>女性干员<br>输出<br>防护</div>
                    </td>
                    <td>
                        <div>只有阻挡敌人时才能够回复技力</div>
                    </td>
                </tr>
                <tr class="result-row">
                    <td>
                        <div style="position:relative"><a href="#"><img class=" ls-is-cached lazyloaded"
                                    style="width:100px" src="../static/img/Avatar_Kjera.png">
                                <div style="position:absolute;bottom:0px;right: 0px;"><img
                                        src="../static/img/rarity_yellow_5.png" height="18px"></div>
                                <div style="position:absolute;top:0px;"><img src="../static/img/icon_job_castle.png"
                                        width="25px"></div>
                            </a></div>
                    </td>
                    <td>
                        <div><a href="#">
                                <div>耶拉</div>
                            </a>
                            <div>Kjera</div>
                            <div></div>
                            <div>JC00</div>
                        </div>
                    </td>
                    <td>
                        <div>喀兰贸易<br>谢拉格<br>未公开</div>
                    </td>
                    <td>
                        <div>604</div>
                    </td>
                    <td>
                        <div>135</div>
                    </td>
                    <td>
                        <div>48</div>
                    </td>
                    <td>
                        <div>10</div>
                    </td>
                    <td>
                        <div>80s</div>
                    </td>
                    <td>
                        <div>21</div>
                    </td>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>1.3s</div>
                    </td>
                    <td>
                        <div>远程位<br>女性干员<br>输出<br>控场</div>
                    </td>
                    <td>
                        <div>操作<span style="color:#00B0FF;">浮游单元</span>造成<span
                                style="color:#00B0FF;">法术伤害</span><br>单元攻击同一敌人伤害提升（最高造成干员110%攻击力的伤害）</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</html>