<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRTS wiki</title>
  <script src="../static/js/home.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
  <style>
  </style>
</head>

<body>
  <div id="navigation">
    <div id="head">
      <nav id="p-personal" class="menu">
        <div class="menu-content">
          <ul class="menu-content-list">
          </ul>
        </div>
      </nav>
    </div>

    <div id="panel">
      <div id="p-logo" role="banner">
        <a title="访问首页" class="wiki-logo" href="home.html"></a>
      </div>

      <div id="MenuSidebar">
        <ul>
          <li class="empty-elt"></li>
          <li class="SideBar-List"><b>当前活动</b>
            <ul>
              <li><a href="current_event.html" title="风雪过境" one-link-mark="yes">SideStory「风雪过境」</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>新增干员
              <span style="padding-left:10px;">
                <span
                  style="font-size:10px;color: #ffffff;background: red;padding-right: 2px;padding-left: 2px;border-radius: 5px;">NEW</span>
              </span></b>
            <ul>
              <li><a href="gnosis_info.html" title="灵知" one-link-mark="yes">灵知</a></li>
              <li><a href="aurora_info.html" title="极光" one-link-mark="yes">极光</a></li>
              <li><a href="kjera_info.html" title="耶拉" one-link-mark="yes">耶拉</a></li>
            </ul>
          </li>
          <li><a href="glance.html" title="干员一览" one-link-mark="yes">干员一览</a></li>
        </ul>
        <p>菜单
        </p>
        <ul>
          <li class="SideBar-List"><b>通用</b>
            <ul>
              <li><a href="glance.html" title="干员一览" one-link-mark="yes">干员一览</a></li>
              <li><a href="#" title="敌人一览" one-link-mark="yes">敌人一览</a></li>
              <li><a href="#" title="道具一览" one-link-mark="yes">道具一览</a></li>
              <li><a href="#" title="后勤技能一览" one-link-mark="yes">后勤技能</a></li>
              <li><a href="#" title="关卡一览" one-link-mark="yes">关卡一览</a></li>
              <li><a href="#" title="剧情一览" one-link-mark="yes">剧情记录</a></li>
              <li><a href="#" title="家具一览" one-link-mark="yes">家具一览</a></li>
              <li><a href="#" title="时装回廊" one-link-mark="yes">时装回廊</a></li>
              <li><a href="#" title="采购中心" one-link-mark="yes">采购中心</a></li>
              <li><a href="#" title="卡池一览" one-link-mark="yes">卡池一览</a></li>
              <li><a href="current_event.html" title="活动一览" one-link-mark="yes">活动一览</a></li>
              <li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="#"
                  one-link-mark="yes">公招计算</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>档案</b>
            <ul>
              <li><a href="#" title="画师一览" one-link-mark="yes">画师一览</a></li>
              <li><a href="#" title="配音一览" one-link-mark="yes">配音一览</a></li>
              <li><a href="#" title="分支一览" one-link-mark="yes">分支一览</a></li>
              <li><a href="#" title="干员密录一览" one-link-mark="yes">干员密录</a></li>
              <li><a href="#" title="干员模组一览" one-link-mark="yes">干员模组</a></li>
              <li><a href="#" title="干员编号一览" one-link-mark="yes">干员编号</a></li>
              <li><a href="#" title="角色真名" one-link-mark="yes">角色真名</a></li>
              <li><a href="#" title="干员预告" one-link-mark="yes">干员预告</a></li>
              <li><a href="#" title="干员专精" one-link-mark="yes">干员专精</a></li>
              <li><a href="#" title="干员剧情一览" one-link-mark="yes">干员剧情一览</a></li>
              <li><a href="#" title="档案信息一览" one-link-mark="yes">档案信息一览</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>玩法</b>
            <ul>
              <li><a href="#" title="危机合约" one-link-mark="yes">危机合约</a></li>
              <li><a href="#" title="集成战略" one-link-mark="yes">集成战略</a></li>
              <li><a href="#" title="多维合作" one-link-mark="yes">多维合作</a></li>
              <li><a href="#" title="荷谟伊智境" one-link-mark="yes">联锁竞赛</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>系统</b>
            <ul>
              <li><a href="#" title="罗德岛基建" one-link-mark="yes">基建</a></li>
              <li><a href="#" title="任务列表" one-link-mark="yes">任务列表</a></li>
              <li><a href="#" title="邮件记录" one-link-mark="yes">邮件记录</a></li>
              <li><a href="#" title="首页场景一览" one-link-mark="yes">首页场景</a></li>
              <li><a href="#" title="光荣之路" one-link-mark="yes">光荣之路</a></li>
              <li><a href="#" title="情报处理室" one-link-mark="yes">情报处理室</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>扩展</b>
            <ul>
              <li><a href="#" title="游戏数据基础" one-link-mark="yes">基础数据</a></li>
              <li><a href="#" title="作战机制" one-link-mark="yes">作战机制</a></li>
              <li><a href="#" title="新人入门" one-link-mark="yes">新人入门</a></li>
              <li><a href="#" title="贴士一览" one-link-mark="yes">贴士一览</a></li>
              <li><a href="#" class="redirect" title="词汇一览" one-link-mark="yes">词汇一览</a></li>
              <li><a href="#" title="制作组通讯" one-link-mark="yes">制作组通讯</a></li>
              <li><a href="#" title="剧情角色一览" one-link-mark="yes">剧情角色一览</a></li>
              <li><a href="#" title="游戏内容前瞻" one-link-mark="yes">游戏内容前瞻</a></li>
              <li><a href="#" title="剧情资源概览" one-link-mark="yes">剧情资源概览</a></li>
              <li><a href="#" title="分类:汇总" one-link-mark="yes">各类信息汇总</a></li>
            </ul>
          </li>
          <li class="SideBar-List"><b>趣味</b>
            <ul>
              <li><a href="#" title="泰拉大典:Index" one-link-mark="yes">泰拉大典</a></li>
              <li><a href="#" title="音乐鉴赏" one-link-mark="yes">音乐鉴赏</a></li>
              <li><a href="#" title="分类:寻访模拟" one-link-mark="yes">寻访模拟</a></li>
              <li><a href="#" title="衍生作品" one-link-mark="yes">衍生作品</a></li>
              <li><a href="#" title="光荣之路模拟器" one-link-mark="yes">光荣之路模拟器</a></li>
            </ul>
          </li>
        </ul>
        <div>
          <!-- 不让侧边栏在编辑的时候乱跳（ -->
          <div style="width:80%;margin:0 auto;margin-top:20px">
            <script>SideBarHold = function () {
              }</script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div id="carousel-warp">
      <div class="img-list">
        <div class="image-body" id="b1">
          <a href="gnosis_info.html">
            <img class="img-top" src="../static/img/lingzhi.jpg" alt="">
            <img class="img-bottom" src="../static/img/lingzhi.jpg" alt="">
          </a>
        </div>
        <div class="image-body" id="b2">
          <a href="current_event.html">
            <img class="img-top" src="../static/img/Karlan.jpg" alt="">
            <img class="img-bottom" src="../static/img/Karlan.jpg" alt="">
          </a>
        </div>
        <div class="image-body" id="b3">
          <a href="#">
            <img class="img-top" src="../static/img/NewYear.jpg" alt="">
            <img class="img-bottom" src="../static/img/NewYear.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="arrow">
        <a class="left" href="#"></a>
        <a class="right" href="#"></a>
      </div>

      <ul class="circle-list">
        <li class="circle active" data-n="0"></li>
        <li class="circle " data-n="1"></li>
        <li class="circle " data-n="2"></li>
      </ul>
    </div>
    <img src="../static/img/Mpbuttons.4DCFB205.png" style="visibility: hidden;" alt="" id="source">

    <div id="mb-container">
      <div id="mb-father">
        <!--    <button onclick="image()"></button>-->
        <div class="mbuttom" id="div0">
          <canvas class="can" id="can0"></canvas>
          <div class="mb-label zh" lang="zh">干员档案</div>
          <div class="mb-label en" lang="en">OPERATORS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="glance.html" class="mb-url" title="干员档案"></a>
        </div>
        <div class="mbuttom" id="div1">
          <canvas class="can" id="can1"></canvas>
          <div class="mb-label zh" lang="zh">敌人档案</div>
          <div class="mb-label en" lang="en">ENEMIES</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="敌人档案"></a>
        </div>
        <div class="mbuttom" id="div2">
          <canvas class="can" id="can4"></canvas>
          <div class="mb-label zh" lang="zh">道具资料</div>
          <div class="mb-label en" lang="en">DEPOT</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="道具资料"></a>
        </div>
        <div class="mbuttom" id="div3">
          <canvas class="can" id="can8"></canvas>
          <div class="mb-label zh" lang="zh">后勤技能</div>
          <div class="mb-label en" lang="en">LOGISTICS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="后勤技能"></a>
        </div>
        <div class="mbuttom" id="div4">
          <canvas class="can" id="can2"></canvas>
          <div class="mb-label zh" lang="zh">关卡一览</div>
          <div class="mb-label en" lang="en">OPERATIONS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="关卡一览"></a>
        </div>
        <div class="mbuttom" id="div5">
          <canvas class="can" id="can11"></canvas>
          <div class="mb-label zh" lang="zh">剧情记录</div>
          <div class="mb-label en" lang="en">STORIES</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="剧情记录"></a>
        </div>
        <div class="mbuttom" id="div6">
          <canvas class="can" id="can12"></canvas>
          <div class="mb-label zh" lang="zh">家具一览</div>
          <div class="mb-label en" lang="en">FURNITURE</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="家具一览"></a>
        </div>
        <div class="mbuttom" id="div7">
          <canvas class="can" id="can10"></canvas>
          <div class="mb-label zh" lang="zh">时装回廊</div>
          <div class="mb-label en" lang="en">OUTFITS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="时装回廊"></a>
        </div>
        <div class="mbuttom" id="div8">
          <canvas class="can" id="can9"></canvas>
          <div class="mb-label zh" lang="zh">采购中心</div>
          <div class="mb-label en" lang="en">STORE</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="采购中心"></a>
        </div>
        <div class="mbuttom" id="div9">
          <canvas class="can" id="can6"></canvas>
          <div class="mb-label zh" lang="zh">卡池一览</div>
          <div class="mb-label en" lang="en">HEADHUNTS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="卡池一览"></a>
        </div>
        <div class="mbuttom" id="div10">
          <canvas class="can" id="can3"></canvas>
          <div class="mb-label zh" lang="zh">活动一览</div>
          <div class="mb-label en" lang="en">EVENTS</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="current_event.html" class="mb-url" title="活动一览"></a>
        </div>
        <div class="mbuttom" id="div11">
          <canvas class="can" id="can5"></canvas>
          <div class="mb-label zh" lang="zh">公招计算</div>
          <div class="mb-label en" lang="en">RECRUIT</div>
          <img src="../static/img/Mpbutton-mask.png" alt="">
          <!-- <canvas class="can1" id="can1_0"></canvas> -->
          <a href="#" class="mb-url" title="公招计算"></a>
        </div>

      </div>
    </div>
  </div>


</body>

</html>